Source: ubiquity-slideshow-aztli
Section: x11
Priority: optional
Maintainer: Aztli Developer Team <aztlilinux@gmail.com>
Build-Depends: cdbs, debhelper (>= 5)
Build-Depends-Indep: po4a, python-utidylib, python
Vcs-Bzr: https://github.com/wozgeass/Aztli-Ubiquity-Slides.git
Standards-Version: 1.0
Homepage: https://aztli.cs.buap.mx
Description: Ubiquity Slideshow para Aztli
 Este solo es un intento para empaquetar los slides del Aztli 5.0

Package: ubiquity-slideshow-aztli
Architecture: all
Provides: ubiquity-slideshow
Conflicts: ubiquity-slideshow
Replaces: ubiquity-slideshow
Depends: ${misc:Depends}
Description: Ubiquity slideshow para Aztli


